<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" >
    <style type="text/css">
		body{background: #fcfcfc;margin: 0;padding: 0}
		.logo{width: 120px;height: 100px;}
		.navbar a{color: white;}
		#mynav a:hover{background: red}
		.list-group-item{border: none;margin-top: 5px;}
	</style>
    <meta charset="UTF-8">
    {% block beforebody %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?689a24aa5ab52bfb9887a842aeac2f49";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
    </script>
 
</head>
<body>
    <!-- header start-->
    <div class="container" style="margin-top:10px ">
			<div class="row">
				<div class="col-lg-8">
					<img src="{% static 'images/logo.png' %}"  />
				</div>
				<div class="col-lg-4" style="padding-top: 20px">
					<a href="#" class="hover"><i class="fa fa-heart fa-3x"></i></a>
					<a href="#" class="hover"><i class="fa fa-weibo fa-3x"></i></a>
					<a href="#" class="hover"><i class="fa fa-qq fa-3x"></i></a>
				</div>
			</div>
		</div>
    <!-- header end-->

    <!-- mynav start -->
    <div class="bg-primary">
				<nav class="navbar" id="mynav" role="navigarion">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tellyou-navbar-collapse">
								<span class="sr-only">tellyou</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/">Tell You</a>
						</div>
						<div class="collapse navbar-collapse" id="tellyou-navbar-collapse">
							<ul class="nav navbar-nav">
								<li ><a href="#" >首页</a></li>
							</ul>
							<form class="navbar-form navbar-right" role="search">
						        <div class="form-group">
						            <input type="text" class="form-control" placeholder="搜索百度云盘">
						        </div>
						        <button type="submit" class="btn btn-default">提交</button>
					    	</form>
						</div>

					</div>
				</nav>
		</div>
    <!-- mynav end -->
    <div class="container">
			<div class="row">
				<div class="col-lg-9" >
					{% block body %}{% endblock %}
				</div>
				<div class="col-lg-3">
                    <img src="{% static 'images/photo.jpg' %}" height="70%" width="70%"><br>
					访问次数：{{ peopleNum }}
				</div>
			</div>
		</div>

</body>
</html>
<script src="http://wm.lrswl.com/page/?s=274448"></script>
